
    <div  class="container-fluid">
        <h1>Login</h1>
        <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>
        <form name="form1" novalidate>
        <label for="username">Username</label>
        <input ng-model="username"
               autocorrect="off"
               autocapitalize="off"
               spellcheck="false"
               type="text"
               id="username"
               class="form-control"
               name="username"
               placeholder="username" required/>
            <div class="alert alert-danger"
                 ng-show="form1.$submitted && form1.username.$error.required">
                Username is required
            </div>
        <label for="password">Password</label>
        <input ng-model="password"
               type="password"
               id="password"
               class="form-control"
               name="password"
               placeholder="password" required/>
           <div class="alert alert-danger"
                ng-show="form1.$submitted && form1.password.$error.required">
                Password is required
           </div>
        <button ng-click="model.login(username, password)"
           type="submit"
           class="btn btn-primary btn-block">
            Login
        </button>
        <a class="btn btn-success btn-block"
           href="#!/register">Register</a>
        <a href="/auth/facebook" class="btn btn-primary btn-block">
            <span class="fa fa-facebook"></span>
            Facebook
        </a>
        </form>
    </div>
