input.form-control,
textarea.form-control,
select.form-control
{
    margin-bottom: 5px;

}

nav.navbar.navbar-default.navbar-fixed-top {
    padding-right: 0px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar-default > div{
    background-color: darkblue;
    border-color: darkblue;
}

.navbar-default .navbar-brand{
    color: white;
}


.nvabar-header{
   width: 100%;
}
.navbar-default .navbar-link{
    color: white;
}
.navbar.navbar-default a{
    color:white;

}
.wd-widget{
    margin-bottom: 10px;
}
.wd-widget > img{
    width:100%;

}
.wd-widget > .wd-widget-toolbar{
    position: absolute;
    right: 15px;
    background: white;
    opacity: 0.9;
    padding: 5px;
    border-bottom-left-radius: 10px;

}

/*.wd-ok{*/
    /*position: absolute;*/
    /*right: 15px;*/
    /*padding: 15px;*/

/*}*/
.wd-left{
    position: absolute;
    left: 5px;
    padding: 15px;

}
.wd-list{
    position: absolute;
    left: 50px;
    padding: 15px;
}

.wd-list-1{
    position: relative;
    left: 50px;
    padding: 15px;
}
a.hover{
    text-decoration: none;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.row.navbar-header > .col-xs-8{
    padding-right: 0;
}

.navbar.navbar-default.navbar-fixed-top .navbar-header,
.navbar.navbar-default.navbar-fixed-bottom .navbar-header,
.row.navbar-text {
    width: 100%;
}

.navbar-brand,
.navbar-header.navbar-brand,
.row a {
    white-space: nowrap;
}

.row .container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.wd-widget-toolbar{
    z-index: 1;
}

.ng-submitted .ng-invalid {
    border-color: red;
}

input.submitted
{
    border-color: red;
}
