
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #5c5c5c;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    clear: both;
    padding: 66px;
}

h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*you can change icon color here*/
.icon-big {
    font-size: 250%;
    display: block;
    /*color: #e67e22;*/
    margin-bottom: 10px
}

/*you can change link color here*/
a:link, a:visited, a:active {
    text-decoration: none;


}

a:hover {


}
