

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row navbar-header">

            <div class="col-md-1 col-sm-3 col-xs-4">
                <a class="navbar-brand"
                   ng-click="model.updateWebsite(model.websiteId, model.preWebsite)">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div class="col-md-2 hidden-sm hidden-xs">
                <a class="navbar-brand"
                   ng-click="model.updateWebsite(model.websiteId, model.preWebsite)">
                    Websites
                </a>
            </div>

            <div class="col-sm-1 hidden-xs">
                <p class="navbar-text pull-right">
                    <a href="#!/user/{{model.userId}}/website/new" class="navbar-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </p>
            </div>

            <div class="col-xs-8">
                <a class="navbar-brand" href="#!/user/{{model.userId}}/website/{{model.websiteId}}">
                    Edit Website
                </a>
                <p class="navbar-text pull-right">
                    <a ng-click="model.updateWebsite(model.websiteId, model.website)"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 hidden-xs">
            <ul class="list-group">
                <li ng-repeat="preWebsite in model.preWebsites" class="list-group-item">
                    <a href="#!/user/{{model.userId}}/website/{{preWebsite._id}}/page">
                        {{preWebsite.name}}
                    </a>

                    <a href="#!/user/{{model.userId}}/website/{{preWebsite._id}}">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8">
            <label for="name">Name</label>
            <input type="text"
                   class="form-control"
                   id="name"
                   placeholder="Name"
                   ng-model="model.website.name">
            <label for="description">Description</label>
            <textarea id="description"
                      ng-model="model.website.description"
                      class="form-control"
                      rows="6"
                      placeholder="Description"></textarea>
            <a class="btn btn-block btn-success"
               ng-click="model.updateWebsite(model.websiteId, model.website)">
                Update
            </a>

            <a class="btn btn-block btn-danger"
               ng-click="model.deleteWebsite(model.websiteId)">
                Delete
            </a>
        </div>
    </div>
</div>


<div ng-include="'views/common/footer.view.client.html'"></div>


