
  <div>
    <label for="name">Name</label>
    <input type="text"
           class="form-control"
           id="name"
           placeholder="image name"
           ng-model="model.widget.name">
    <label for="text">Text</label>
    <input type="text"
           class="form-control"
           id="text"
           placeholder="Text"
           ng-model="model.widget.text">
    <label for="url">URL</label>
    <input type="url"
           class="form-control"
           id="url"
           placeholder="URL"
           ng-model="model.widget.url">
    <label for="width">Width</label>
    <input type="text"
           class="form-control"
           id="width"
           placeholder="Width"
           ng-model="model.widget.width">
    <label for="file">Upload</label>
    <input  id="file"  type="file" class="form-control">
  </div>
    <div>
        <a class="btn btn-block btn-primary">Upload Image</a>
    </div>
  <br>


