


    <label for="name">Name</label>
    <input type="text"
           class="form-control"
           id="name"
           ng-class="{submitted:model.submitted}"
           placeholder="heading name"
           ng-model="model.widget.name">
    <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>
    <label for="text">Text</label>
    <input type="text"
           class="form-control"
           id="text"
           placeholder="Text"
           ng-model="model.widget.text">
    <label for="size">Size</label>
    <select id="size"
            class="form-control"
            ng-model="model.widget.size">
        <option value="1">1 (Largest)</option>
        <option value="2">2 (Very Large)</option>
        <option value="3">3 (Large)</option>
        <option value="4">4 (Medium)</option>
        <option value="5">5 (Small)</option>
        <option value="6">6 (Very Small)</option>
    </select>
