
  <div>
    <label for="name">Name</label>
    <input type="text"
           class="form-control"
           id="name"
           ng-class="{submitted:model.submitted}"
           placeholder="video name"
           ng-model="model.widget.name">
    <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>
    <label for="text">Text</label>
    <input type="text"
           class="form-control"
           id="text"
           placeholder="Text"
           ng-model="model.widget.text">
    <label for="url">URL</label>
    <input type="url"
           class="form-control"
           id="url"
           placeholder="URL"
           ng-model="model.widget.url">
    <label for="width">Width</label>
    <input type="text"
           class="form-control"
           id="width"
           placeholder="Width"
           ng-model="model.widget.width">
  </div>

