
<div ng-include="'views/common/header-buyer.view.client.html'"></div>


<div  class="container-fluid home">

<h1>Welcome to Delightreads</h1>

</div>


<!--reason-->
<div class="guide-features pad">
    <div class="container">
        <h4>Why Choose Delightreads:</h4>
        <div class="features-list row">
            <div class="feature-item col-xs-4">
                <!--<img src="../../../image/shopping.png"/>-->
                <img src="../../../../project/image/shopping.png" alt="shopping cart" width="100" height="100">
                <h6>good price for book buyers</h6>
                <p>This is a good place to buy books with pretty good price if you don't mind second hand books.</p>
            </div>
            <div class="feature-item col-xs-4">
                <img src="../../../../project/image/dollar.jpg" alt="" width="100" height="100" />
                <h6>good place to sell second hand books</h6>
                <p>Are the piles of books annoying when you are moving? Or you wanna resource recycling, and get win-win results with your book buyers. </p>
            </div>
            <div class="feature-item col-xs-4">
                <img src="../../../../project/image/book.png" alt="book" width="100" height="100" />
                <h6>Share your opinions about books</h6>
                <p>Write book reviews to share your opinions about books you have read. Book reviews help other readers decide which books they might want to read or not read. </p>
            </div>
        </div>
    </div>
</div>

