



<div ng-include="'views/common/header.view.client.html'"></div>


<div  class="container-fluid home">

<h1 class="homeh">Welcome to Delightreads</h1>

</div>


<!--reason-->
<div class="guide-features pad">
    <div class="container">
        <h4>Why Choose Delightreads:</h4>
        <div class="features-list row">
            <div class="feature-item col-xs-6">
                <img src="../../../../project/image/dollar.jpg" alt="" width="100" height="100" />
                <h6>good place to borrow books totally free</h6>
                <p> Knowledge is money, and reading makes you richer from inside</p>
            </div>
            <div class="feature-item col-xs-6">
                <img src="../../../../project/image/book.png" alt="book" width="100" height="100" />
                <h6>sharing is the source of happiness </h6>
                <p>Share the books you like, and communicate with more readers</p>

            </div>
        </div>
    </div>
</div>

